@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/IndexPage.css" asp-append-version="true" />
</head>
<body>
    <div class="fon">
        <h2>Результаты поиска</h2>

        <div class="event" >
            <h1>Поход в тренажерный зал</h1>
            <div class="event_content">
                <div class="event_left">
                    <img class="avatar" src="https://krasivosti.pro/uploads/posts/2023-07/1688412224_krasivosti-pro-p-yevropeiskaya-koshka-seraya-instagram-76.jpg" />
                    <h2> K1Nf (10.00) </h2>
                    <button class="register">Подробнее о мероприятии</button>
                </div>
                <div class="event_right">
                    <table>
                        <tbody>
                            <tr>
                                <td class="table_left"><strong>Дата и время: </strong></td>
                                <td class="table_right"> 11.12.2023 <br /> 15:00</td>
                            </tr>
                            <tr>
                                <td class="table_left"><strong>Город: </strong></td>
                                <td class="table_right">Омск </td>
                            </tr>
                            <tr>
                                <td class="table_left"><strong>Место: </strong></td>
                                <td class="table_right">Онлайн</td>
                            </tr>
                            <tr>
                                <td class="table_left"><strong>Описание: </strong></td>
                                <td class="table_right">Идем в киберспорт. Идем в киберспорт. Идем в киберспорт</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="event" style="margin-top: 10%">
            <h1>Ищу чела для игр в Dota 2</h1>
            <div class="event_content">
                <div class="event_left">
                    <img class="avatar" src="https://s0.rbk.ru/v6_top_pics/media/img/8/20/346957380091208.jpeg" />
                    <h2> FullUM (9.98) </h2>
                    <button class="register">Подробнее о мероприятии</button>
                </div>
                <div class="event_right">
                    <table>
                        <tbody>
                            <tr>
                                <td class="table_left"><strong>Дата и время: </strong></td>
                                <td class="table_right"> 11.12.2023 <br /> 15:00</td>
                            </tr>
                            <tr>
                                <td class="table_left"><strong>Город: </strong></td>
                                <td class="table_right">Омск </td>
                            </tr>
                            <tr>
                                <td class="table_left"><strong>Место: </strong></td>
                                <td class="table_right">Онлайн</td>
                            </tr>
                            <tr>
                                <td class="table_left"><strong>Описание: </strong></td>
                                <td class="table_right" >Идем в киберспорт</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="event" style="margin-top: 10%">
            <h1>Поход в тренажерный зал</h1>
            <div class="event_content">
                <div class="event_left">
                    <img class="avatar" src="https://www.funnyart.club/uploads/posts/2022-12/1671330390_www-funnyart-club-p-kartinki-shakala-krasivo-42.jpg" />
                    <h2> Noobas (5.00) </h2>
                    <button class="register">Подробнее о мероприятии</button>
                </div>
                <div class="event_right">
                    <table>
                        <tbody>
                            <tr>
                                <td class="table_left"><strong>Дата и время: </strong></td>
                                <td class="table_right"> 12.12.2023 <br /> 19:00</td>
                            </tr>
                            <tr>
                                <td class="table_left"><strong>Город: </strong></td>
                                <td class="table_right">Ульяновск </td>
                            </tr>
                            <tr>
                                <td class="table_left"><strong>Место: </strong></td>
                                <td class="table_right">Качалочка</td>
                            </tr>
                            <tr>
                                <td class="table_left"><strong>Описание: </strong></td>
                                <td class="table_right">Идем в Man's physic</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>





