<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/EventPage.css" asp-append-version="true" />
</head>
<body>
    <div class="fon">
        <div class="event">
            <h1>Ник автора, название мероприятия</h1>
            <table>
                <tbody>
                    <tr>
                        <td class="table_left"><strong>Статус: </strong></td>
                        <td class="table_right">Совершено</td>
                    </tr>
                    <tr>
                        <td class="table_left"><strong>Дата и время: </strong></td>
                        <td class="table_right"> 15.12.2023 05:00</td>
                    </tr>
                    <tr>
                        <td class="table_left"><strong>Город: </strong></td>
                        <td class="table_right">Лос-Хантос </td>
                    </tr>
                    <tr>
                        <td class="table_left"><strong>Место: </strong></td>
                        <td class="table_right">Центральная площадь города на лавочке возле Гостиного двора!</td>
                    </tr>
                    <tr>
                        <td class="table_left"><strong>Описание: </strong></td>
                        <td class="table_right">Пить пиво с мужиками в 5 утра!</td>
                    </tr>
                    <tr>
                        <td class="table_left"><strong>Тэги: </strong></td>
                        <td class="table_right">Развлечение, культурное времяпровождение</td>
                    </tr>
                    <tr>
                        <td class="table_left"><strong>Количество гостей: </strong></td>
                        <td class="table_right">3</td>
                    </tr>
                    <tr>
                        <td class="table_left"><strong>Гости: </strong></td>
                        <td class="table_right">MIKITA, FullUm, Noobas </td>
                    </tr>
                </tbody>
            </table>
            <div class="mnge" id="meauthor">
                <a class="btn">Отменить мероприятие</a>
                <a class="btn">Посмотреть гостей</a>
            </div>

            <!--Модальное окно-->
            @* <div class="clickUser">
                <h3>MIKITA</h3>
                <a class="btn">Перейти на страницу</a>
                <a class="btn" style="margin-left: 3%">Оценить (Х/10)</a>
                <input placeholder="5" type="number" min="0" max="10" style="width:5%;"/>
            </div> *@
            <!--Модальное окно-->

            <div class="mnge" id="meghost" style="display: none">
                <a class="btn">Сняться с мероприятия</a>
                <a class="btn">Оценить автора</a>
            </div>
        </div>
    </div>

</body>
</html>
