body {
    background-color: #315D66;
}
a:hover {
    color: #D9D9D9 !important;
}
.fon {
    background-color: #D9D9D9;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10%;
    padding-top: 2%;
    display: block;
}
.event {
    background-color: #315D66;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.table_left {
    font-size: 2vw;
    width: 50%;
    vertical-align: text-top;
    text-align: right;
    padding-right:3%;
    color: black;
    height: 0.5vh;
    font-family: 'Times New Roman';
}

.table_right {
    font-size: 1.8vw;
    line-height: 2vw;
    width: 50%;
    height: 1vh;
    text-align: left;
    vertical-align: text-top;
    color: lightsteelblue; /*darkseagreen*/
    font-family: 'Times New Roman';
}

.event a {
    background-color: #001048;
    padding-top: 1%;
    padding-bottom: 1%;
    /*width: 25vw;*/
    height: auto;
    color: whitesmoke;
}
.mnge{
    display: flex;
    justify-content: space-evenly;
}

.clickUser {
    margin-top: 2%;
    width: max-content;
    border: 2px black solid;
}

.event table{
    width: 70%;
    margin-right:30%;
}

